@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

header {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  background-color: #373b69;
}

.hiro-section {
  padding: 50px;
  background-color: #7378c5;
  height: 310px;
  background-size: cover;
  background-position: center;
}

#form {
  display: flex;
  justify-content: space-between;
}

.search {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: #22254b;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: #373b69;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: #22254b;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  color: black;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

#nextPage {
  background-color: #373b69;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  margin-left: 5px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

#nextPage:hover {
  background-color: #22254b;
}

#previousPage {
  background-color: #373b69;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;

  transition: background-color 0.3s ease;
}

#previousPage:hover {
  background-color: #22254b;
}

#load-more-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

#currentPage {
  color: white;
  padding: 10px;
  margin-left: 10px;
}

.hiro-div {
  margin-top: 50px;
}
.hiro-title {
  width: 88%;
  margin: 0 auto;
  font: bold;
  color: rgb(255, 255, 255);
  font-size: x-large;
}
.hiro-title h2 {
  margin: 0;
  padding: 0;
}
.hiro-title h3 {
  margin: 0 0 50px 0;
  padding: 0;
}

.hiro-search {
  width: 100%;
}
.hiro-search form {
  display: flex;
  justify-content: center;
}
#hiro-search-input {
  width: 88%;
  padding: 16px;
  padding-right: 40px;
  border: none;
  background-color: #22254bbe;
  border-radius: 30px;
  font-size: large;
}
#hiro-search-input:focus{
    outline: none;
}
#hiro-search-input::placeholder {
  color: #7378c5;
}
